<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add Word</title>
</head>
<body>

{% include 'nav.html' %}

<div class="container">
    {% load bootstrap3 %}

    {% bootstrap_css %}
    {% bootstrap_javascript jquery=1 %}

    {% bootstrap_messages %}

    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label class="control-label" for="id_question">Question</label>
            <input type="text" name="question" maxlength="255" class="form-control" placeholder="Question" required id="id_question"/>
        </div>
        {% buttons %}
            <button id="id_translate_button" type="button" class="btn btn-primary">번역</button>
        {% endbuttons %}
        <div class="form-group">
            <label class="control-label" for="id_answer">Answer</label>
            <input type="text" name="answer" maxlength="255" class="form-control" placeholder="Answer" required id="id_answer"/>
        </div>
        {% buttons %}
            <button type="submit" class="btn btn-primary">추가</button>
        {% endbuttons %}
    </form>
</div>

{% load static %}
<script src="{% static 'js/wordlist.js' %}"></script>

</body>
</html>