{% extends 'base.html' %}

{% block title %}Add Word{% endblock %}

{% block body %}
    <form method="post">
        {% load bootstrap3 %}
        {% csrf_token %}
        <div class="form-group">
            <label class="control-label" for="id_question">Question</label>
            <input type="text" name="question" maxlength="255" class="form-control" placeholder="Question" required id="id_question"/>
        </div>
        {% buttons %}
            <button id="id_translate_button" type="button" class="btn btn-primary">번역</button>
            <button id="id_naver_dic_button" type="button" class="btn btn-primary">네이버 사전</button>
            <button id="id_clear_button" type="button" class="btn btn-primary">지우기</button>
        {% endbuttons %}
        <div class="form-group">
            <label class="control-label" for="id_answer">Answer</label>
            <input type="text" name="answer" maxlength="255" class="form-control" placeholder="Answer" required id="id_answer"/>
        </div>
        {% buttons %}
            <button type="submit" class="btn btn-primary">추가</button>
        {% endbuttons %}
    </form>
{% endblock %}