<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load bootstrap3 %}

    {% bootstrap_css %}
    {% bootstrap_javascript jquery=1 %}

    {% bootstrap_messages %}

    {% load static %}
    <link href="{% static 'css/wordlist.css' %}" rel="stylesheet" type="text/css" />

    <title>Memorist - {% block title %}{% endblock %}</title>
</head>
<body>

{% include 'nav.html' %}

<div class="container">
    {% block body%}
    {% endblock %}
</div>

{% load static %}
<script src="{% static 'js/translate.js' %}"></script>
<script src="{% static 'js/study.js' %}"></script>
<script language="javascript">var MEDIA_URL = "{{ MEDIA_URL }}";</script>

</body>
</html>