{% extends 'base.html' %}

{% block title %}Word list{% endblock %}

{% block body %}
    <table class="table table-striped">
        <tr>
            <th>Question</th>
            <th>Answer</th>
            <th></th>
        </tr>
        {% for word in word_list %}
            <tr>
                <td>{{ word.question }}</td>
                <td>{{ word.answer }}</td>
                <td class="restore_word_btn" style="color: blue; cursor: pointer;" data-id="{{ word.id }}">복구</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
