{% extends 'base.html' %}

{% block title %}Study word{% endblock %}

{% block body %}
    <div>
        <div class="form-group row" style="margin: 0; margin-left: 7px;">
            <div class="col-xs-1" id="id_study_question_types" style="padding: 0; width: 300px;">
                <label class="radio-inline"><input type="radio" name="question_type" checked>All</label>
                <label class="radio-inline"><input type="radio" name="question_type">Words</label>
                <label class="radio-inline"><input type="radio" name="question_type">Sentences</label>
            </div>
            <div class="col-xs-1" style="padding: 0; width: 70px;">
                <select id="id_study_filtered_by_days" class="form-control" style="margin: 0;">
                    <option disabled selected>Days</option>
                    <option>All</option>
                    <option value="1">하루</option>
                    <option value="2">이틀</option>
                    <option value="3">삼일</option>
                    <option value="7">일주일</option>
                    <option value="10">10일</option>
                    <option value="15">15일</option>
                    <option value="30">한달</option>
                </select>
            </div>
        </div>
        <div>
            Question : <span id="id_study_question_block">{{ word.question }}</span>
            <a href="#" onClick="onClickPronounce(event, id_study_question_block.textContent)">
                <span class="glyphicon glyphicon-volume-up pronounce"></span>
            </a>
        </div>
        <p>Answer : <span hidden id="id_study_answer_block">
            <span id="id_study_answer_box">{{ word.answer }}</span>
            <a href="#" onClick="onClickPronounce(event, id_study_answer_box.textContent)">
                <span class="glyphicon glyphicon-volume-up pronounce"></span>
            </a>
            </span>
        </p>

        {% load bootstrap3 %}
        {% buttons %}
            <button id="id_study_confirm_btn" type="button" class="btn btn-primary">답 확인</button>
            <button id="id_study_next_btn" type="button" class="btn btn-primary">다음</button>
            <button id="id_study_remove_btn" type="button" class="btn btn-primary" data-id="{{ word.id }}">제거</button>
        {% endbuttons %}
    </div>
    <hr>
    <div class="form-group row" style="margin: 0">
        <div class="col-xs-3" style="padding: 0; margin-right: 4px; width: 80px;">
            <select id="id_test_words_number_select" class="form-control" data-number="{{ numberOfWords }}" style="margin: 0;">
                <option disabled selected>Num</option>
            </select>
        </div>
        <div class="col-xs-3" style="padding: 0; width: 96px;">
            <button id="id_make_test_btn" type="button" class="btn btn-primary" disabled>시험 만들기</button>
        </div>
        <div class="col-xs-3" style="padding: 0; width: 96px;">
            <button id="id_check_test_answer_btn" type="button" class="btn btn-primary" value="off" disabled>답 확인</button>
        </div>
    </div>
    <table id="id_test_table" class="table table-hover" hidden>
        <tr>
            <th>#</th>
            <th width="49%">Question</th>
            <th width="49%">Answer</th>
        </tr>
    </table>
{% endblock %}
