<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Word list</title>
</head>
<body>

{% include 'nav.html' %}

<div class="container">
    {% load bootstrap3 %}

    {% bootstrap_css %}
    {% bootstrap_javascript jquery=1 %}

    {% bootstrap_messages %}

    <table class="table table-striped">
        <tr>
            <th>Question</th>
            <th>Answer</th>
        </tr>
        {% for word in word_list %}
            <tr>
                <td>{{ word.question}}</td>
                <td>{{ word.answer }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>