@CHARSET "UTF-8";
@font-face {
    font-family: NanumSquareRoundR;
    src: local(NanumSquareRoundR),
         url(font/NanumSquareRoundR.ttf) format('truetype');
}

body {
    font-family: NanumSquareRoundR, sans-serif;
    font-size: 200%;
}

table {
    counter-reset: rowNumber;
}

table tr td:first-child {
    counter-increment: rowNumber;
}

table tr td:first-child::before {
    content: counter(rowNumber);
}

table td:first-child, th:first-child {
    width: 2%;
}

#id_glosbe_result_group a {
    padding: 5px;
    padding-left: 10px;
    border-left: 0;
    border-right: 0;
}

.glyphicon {
    left: 2px;
    top: 4px;
    font-size: 21px;
}