@CHARSET "UTF-8";
@font-face {
    font-family: NanumSquareRoundR;
    src: local(NanumSquareRoundR),
         url(font/NanumSquareRoundR.ttf) format('truetype');
}

body {
    font-family: NanumSquareRoundR, sans-serif;
    font-size: 200%;
}

table {
    counter-reset: rowNumber;
}

table tr td:first-child {
    counter-increment: rowNumber;
}

table tr td:first-child::before {
    content: counter(rowNumber);
}

table td:first-child, th:first-child {
    width: 2%;
}
